.p__opensans {
  font-family: var(--font-base);
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  color: var(--color-white);
  text-transform: capitalize;
}

.headtext__opensans {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: var(--color-white);
  text-transform: capitalize;
}

.app__bg {
  background: var(--color-black);
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 30px;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  transition: 0.5 ease;
}

.isloading {
  width: 4rem;
  height: 4rem;
  margin: auto auto;
  border: 4px solid rgba(51, 51, 51);
  border-radius: 50%;
  border-top-color: var(--color-gray);
  animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1600px) {
  .p__opensans {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1150px) {
  .p__opensans {
    font-size: 16px;
    line-height: 20px;
  }

  .headtext__opensans {
    font-size: 30px;
    line-height: 37px;
  }
}

@media screen and (max-width: 850px) {
  .p__opensans {
    font-size: 14px;
    line-height: 18px;
  }

  .headtext__opensans {
    font-size: 25px;
    line-height: 32px;
  }
}

@media screen and (max-width: 650px) {
  .p__opensans {
    font-size: 14px;
    line-height: 16px;
  }

  .headtext__opensans {
    font-size: 23px;
    line-height: 30px;
  }
}
