@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --font-base: "Open Sans", sans-serif;
  --color-black: #141414;
  --color-white: #e5e5e5;
  --color-gray: #808080;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background: var(--color-black);
}
